.addElementStyle{
    border: 1px solid grey;
    height: 50px;
    opacity: .2;
    cursor: pointer;

    &:hover{
        border: 1px solid blueviolet!important;
        opacity: 1;
        cursor: pointer;
    }
}

.showOptions{
    color: violet;
}

.modalTextAlign{
    text-align: right!important;
}