@font-face {
  font-family: 'yekan';
  src: url('assets/fonts/BYekan.eot');
  src: url('assets/fonts/BYekan.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/BYekan.woff2') format('woff2'),
  url('assets/fonts/BYekan.woff') format('woff'),
  url('assets/fonts/BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl!important;
  margin: 0;
  font-family:'yekan', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui *{
  font-family: 'yekan',Icons !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.buttons .button:first-child {
  border-right: none!important;
  margin-right: 0!important;
  border-top-right-radius: .28571429rem!important;
  border-bottom-right-radius: .28571429rem!important;
  border-left: none;
  margin-left: 0;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.ui.buttons .button:last-child {
  border-top-left-radius: .28571429rem!important;
  border-bottom-left-radius: .28571429rem!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  border-top-right-radius: .28571429rem!important;
  border-bottom-right-radius: .28571429rem!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child+input {
  border-top-left-radius: .28571429rem!important;
  border-bottom-left-radius: .28571429rem!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.ui.menu .ui.dropdown .menu>.item{
  text-align: right!important;
}

.Toastify__toast-container--top-right{
  text-align: right!important;
}

.ui.fixed.table {
  text-align: right!important;
}

.modals.dimmer .ui.scrolling.modal {
  text-align: right !important;
}

.ui.input>input{
  text-align: right!important;
}
.ui.dropdown input{
  text-align: right!important;
}